.container{
width :220px;
background-color: #ccc;
border :1px solid black;
/*padding:5px ;*/
padding: 0 10px 0 10px;
box-sizing:border-box;
margin: auto;
display:inline-block;
text-align: center;
overflow: auto;
}
.row1{
  width:100%;
  margin-top: 10px;
  padding-right:2px;
  border:0;

}
.clr{
  width:40px;
  height:40px;
  background-color:#65B356;
  color: white;
  padding-right:0;
  margin-right: -4px;
  font-size: 15px;
float: left;
}

#ans{
width: 125px;
height: 40px;
background-color:#65B356;
color: black;
font-size: 25px;
vertical-align: bottom;
border:0;
margin-left: -13px;

}
.operator{
  width: 40px;
  height:40px;
  background-color:#65B356;
  color: white;
  font-size: 15px;
  margin-bottom:1px;
  padding-right:5px;
  margin-right: 1px;
  float: left;

}

.num{
  width: 40px;
  height:40px;
  background-color:#65B356;
  color: white;
  font-size: 15px;
  margin-bottom:1px;
  padding-right:5px;
  margin-right: 5px;
  float: left;
}

.eq{
  width: 40px;
  height:40px;
  background-color:#65B356;
  color: white;
  font-size: 15px;
  margin-bottom:1px;
  padding-right:5px;
  margin-right: 5px;
  float: left;
}


#divide{
  color :black;
  background-color:#81C275;
  font-size: 15px;
}
#multi{
  color :black;
  background-color:#81C275;
  font-size: 15px;
}

#subtraction{
  color :black;
  background-color:#81C275;
  font-size: 15px;
}


#addition{
  color:black;
  background-color:#81C275;
font-size: 15px;
}

#addition:hover{
  color:white;
  font-weight:normal;
}

#subtraction:hover{
color:white;
font-weight: normal;
}

#multi:hover{
color:white;
font-weight: normal;
}

#divide:hover{
color:white;
font-weight: normal;
}

.eq:hover{
  color: white;
  background-color: #81C275;
}
.operator:hover{
  color: white;
}

.num:hover{
color:white;
font-weight:bold;
font-size: 1em;
font-size: 15px;
}

.clr:hover{
  background-color:#81C275; 
}

#ans{
  color: black;
}